// .container {
//     margin-top : 5%;
//     width :auto
// }
// .contents {
//     display:flex;
//     align-content: center;
//     flex-direction: row;
//     padding : 1.5%;
//     border-right: 1px solid rgba(0, 0, 0, 0.12);


// }
// .info{
//     display:flex;
//     // align-content: center;
//     // flex-direction: row;
//     padding: 0;
//     justify-content: space-between;
// }
// .image {
//     margin-right: 15%
// }
// .name {
//     display: flex;
//     font-size: 80%;
//     align-content: center;
//     flex-direction : row;

// }
// .count {
//     font-size: 150%;
// }
// .data {
//     display: flex;
//     flex-direction: column;
//     justify-content: center
    

// }

.page-body-wrapper {
    background: #eff3f5;
    padding-left: 0;
    padding-right: 0;
}
.main-panel {
    min-height: calc(100vh - 70px);
    width: 100%;
    padding-right: 80.5px;
    padding-left: 80.5px;
    margin-right: auto;
    margin-left: auto;
}
.content-wrapper {
    padding: 1.5rem 0;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.grid-margin {
    margin-bottom: 25px;
}
.card-statistics .card-col {
    border-right: 1px solid #d5dcec;
}

.card .card-body {
    padding: 35px 25px;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.icon-lg {
    font-size: 2.5rem;
}
.text-primary {
    color: #464de4;
}
.strech-card {
    display : flex;
    justify-content: stretch;
}
.stretch-card > .card {
    width: 100%;
    min-width: 100%;
}
.img-lg {
    width: 92px;
    height: 92px;
}
.rounded-circle {
    border-radius: 50% ;
}
img {
    vertical-align: middle;
    border-style: none;
}
p {
    font-weight: 400;
    font-size: 0.8rem;
    word-wrap : normal;
}
.tbody-color{
    background: #fff;
    font-size: small;
}
.thead-light{
    font-size: medium
}
.graph2 {
    height: "250px";
}