<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card card-statistics">
            <div class="row">
              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="mr-0 mr-sm-4 icon-lg">
                      <img src="../../../assets/images/baseline-people-24px.svg" alt="">
                    </i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">{{newUsers.name}}</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">{{newUsers.count}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="mr-0 mr-sm-4 icon-lg">
                      <img src="../../../assets/images/sharp-check_circle_outline-24px (1).svg" alt="">
                    </i>  
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">{{feedbacks.name}}</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">{{feedbacks.count}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="mdi mdi-trophy-outline text-primary mr-0 mr-sm-4 icon-lg">
                      <img src="../../../assets//images/icons8-meeting-room-30.png" alt="">
                    </i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">{{employees.name}}</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">{{employees.count}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="mdi mdi-target text-primary mr-0 mr-sm-4 icon-lg">
                      <img src="../../../assets/images/icons8-target-30.png" alt="">
                    </i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">{{sales.name}}</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">{{sales.count}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--=========================> cards <=========================================  -->
      <div class="row">
        <div class="col-md-4 col-sm-6 grid-margin stretch-card">
          <div class="card text-center">
            <div class="card-body">
              <img src="../../../assets/images/dp" alt="dp" class="img-lg rounded-circle mb-2">
              <h4>Akshay K C </h4>
              <p class="text-muted">Developer</p>
              <p class="mt-4 card-text">
                Works at BridgeLabz,Bengaluru.
              </p>
              <div class="border-bottom">
              <button class="btn btn-primary btn-sm mt-1 mb-4"> Follow </button>
              </div>
              <div class="row mt-3">
                
                <div class="col-4">
                  <h6>105</h6>
                  <p>Posts</p>
                </div>
                <div class="col-4">
                  <h6>1020</h6>
                  <p>Followers</p>
                </div>
                <div class="col-4">
                  <h6>8065</h6>
                  <p>Likes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body pb-0">
              <div class="wrapper border-bottom">
                <h5 class="mb-0 text-muted">Top Products</h5>
                <h1 class="mb-0">658,789</h1>
                <p class="mb-4">7.25% change from today</p>
              </div>
              <div class="pt-4 wrapper">
                <h5 class="mb-0 text-muted">Support Cases</h5>
                <h1 class="mb-0">456,897</h1>
                <p class="mb-4">2.5% change from yesterday</p>
              </div>
            </div>
              
            <div style="display: block">
              <canvas mdbChart
                  [chartType]="chartType"
                  [datasets]="chartDatasets"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
              </canvas>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between text-center mb-2">
                <div class="wrapper">
                  <h4>7,326</h4>
                  <small class="text-muted">Total sales</small>
                </div>
                <div class="wrapper">
                  <h4>9568</h4>
                  <small class="text-muted">Open Campaign</small>
                </div>
              </div>
              <div class="d-block mb-4 mt-4 graph2 ">
                <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <div class="d-flex justify-content-between text-center mb-2">
                <div class="wrapper">
                  <h4>7,326</h4>
                  <small class="text-muted">Total sales</small>
                </div>
                <div class="wrapper">
                  <h4>9568</h4>
                  <small class="text-muted">Open Campaign</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- =======================>>>> table <===================================-->
      <div class="table-responsive-lg">
        <table class="table ">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Assignee</th>
              <th scope="col">Task Details</th>
              <th scope="col">Payment Method</th>
              <th scope="col">Payment Status</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody *ngFor="let i of tableDetails" class="tbody-color">
            <tr>
              <td>{{i.id}}</td>
              <td>{{i.assignee}}</td>
              <td>{{i.taskDetails}}</td>
              <td>{{i.paymentMethod}}</td>
              <td>{{i.paymentStatus}}</td>
              <td>{{i.amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>






















    <!-- <div class="container" *ngIf = 'newUsers != undefined' >
  <mat-card class="info" >
    <div class="contents">
      <img src="../../../assets/images/sharp-people-24px.svg" alt="" class="image">
      <div fxLayout="column" >
          <div  class="name">{{newUsers.name}}</div>
             <div class="count"> {{newUsers.count}} </div>
      </div>
    </div>
    <div class="contents">
        <img src="../../../assets/images/sharp-check_circle_outline-24px.svg" class="image">
        <div class="data" >
          <div  class="name">{{feedbacks.name}}

          </div>
             <div class="count" >
                 {{feedbacks.count}}
             </div>
      </div>
      </div>
      <div class="contents">
        <img src="../../../assets/images/sharp-check_circle_outline-24px.svg" class="image">
        <div fxLayout="column" >
          <div  class="name">{{employees.name}}

          </div>
             <div class="count" >
                 {{employees.count}}
             </div>
      </div>
      </div>   
      <div class="contents">
        <img src="../../../assets/images/sharp-check_circle_outline-24px.svg" class="image">
        <div fxLayout="column" >
          <div  class="name">{{sales.name}}

          </div>
             <div class="count" >
                 {{sales.count}}
             </div>
      </div>
      </div>   
  </mat-card>

</div> -->


    <!-- <div>
  <div class="container-fluid">
       <div class="row">
      <div class="col-sm-3" >users
     <img src="../../../assets/images/sharp-people-24px.svg">
      </div>
      <div class="col-sm-3">contacts</div>
      <div class="col-sm-3">.col-sm-3</div>
      <div class="col-sm-3">.col-sm-3</div>
    </div>
  </div>
</div> -->