<div class="home">
  <div class="main">
    <img src="../../../assets/images/liberty logo.svg" class="img">
    <div class="search">
      <form class="form-inline my-2 my-lg-0">
        <mat-icon>search</mat-icon>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <img src="../../../assets//images/outline-notification_important-24px.svg">
      <button mat-mini-fab color="accent">A</button>
    </div>
  </div>
  <div class="buttons">
    <div class="btn-group" dropdown>
      <button mat-flat-button>DASHBOARD</button>
      <button mat-flat-button>WIDGETS</button>
      <div class="btn-group1" dropdown placement="bottom right">
        <button id="button-alignment" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-alignment">
          UI ELEMENTS <span class="caret"></span>
        </button>
        <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-alignment">
          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>

      <div class="btn-group2" dropdown placement="bottom right">
        <button id="button-alignment" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-alignment">
          PAGES
          <span class="caret"></span>
        </button>
        <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-alignment">
          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>

      <div class="btn-group3" dropdown placement="bottom right">
        <button id="button-alignment" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-alignment">
          FORMS
          <span class="caret"></span>
        </button>
        <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-alignment">
          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="divider">
    <mat-divider> </mat-divider>
  </div>
</div>