<div class="home">
  <div class="main ml-5 mr-5 mb-3">
    <img src="../../../assets/images/liberty logo.svg" class="img">
    <div class="search">
      <form class="form-inline my-2 my-lg-0">
        <mat-icon>search</mat-icon>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <img src="../../../assets//images/outline-notification_important-24px.svg">
      
      <button mat-mini-fab color="accent">A</button>
      <!-- <button>
        <mat-icon class="menu">menu</mat-icon>
      </button> -->
    </div>
  </div>
  <div class="buttons mb-3" >
    <button mat-flat-button class="button-dashboard" (click)="dashboard=true; widget=false" (click)="goToDashboard()"
      [ngClass]="{'onClick_beforeClick': dashboard===false,'onClick_background': dashboard===true}">DASHBOARD</button>
    <button mat-flat-button (click)="widget=true; dashboard=false"
      [ngClass]="{'onClick_beforeClick': widget===false,'onClick_background': widget===true}">WIDGETS</button>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        UI ELEMENTS
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        PAGES
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        FORMS
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        APPS
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="divider">
      <mat-divider> </mat-divider>
    </div>
  </div>
</div>
<router-outlet></router-outlet>