.home {
    box-shadow    : 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    padding       : 0.1%;
    display       : flex;
    flex-direction: column;
}

.main {
    display        : flex;
    align-items    : center;
    flex-direction : row;
    justify-content: space-between;

}

.img {
    display   : flex;
    height    : 50px;
    width     : 200px;
    margin-top: 10px;
}

.searchIcon {
    margin-top: 11.25px
}

.search {
    display       : flex;
    flex-direction: row;
    align-items   : center;

}

.form-control {
    display    : flex;
    align-items: center;
}

.divider {
    margin-top: 2px;
}

.buttons {
    display        : flex;
    align-items    : flex-start;
    justify-content: space-evenly;
}

.background-mad {
    background-color: red
}

.color-mad {
    color: green
}

.onClick_background {
    background: #814eff;
}

.onClick_beforeClick {
    background: white;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

// .dropdown>.dropdown-toggle:active {
//     pointer-events: none;
// }

@media screen and(max-width:650px){
    .buttons{
       flex-direction: column;
    }
   .button-dashboard{
       display: flex;
       width: 100%
   }
}